@model IEnumerable<CatalogoWeb.EntidadesDeNegocio.ProveedorEN>

@{
    ViewData["Title"] = "Index";
    int numPage = 1;
    int numRegistros = 0;
    int numRegistrosPorPage = 5;
    int[] tops = { 10, 20, 50, 100, 500, 1000, 10000, -1 };
    int topActual = Convert.ToInt32(ViewBag.Top);
}

<h1>Buscar</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">NombreEmpresa</label>
                        <input type="text" class="form-control" name="NombreEmpresa" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Direccion</label>
                        <input type="text" class="form-control" name="Direccion" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Telefono</label>
                        <input type="tel" class="form-control" name="Telefono" />
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Móvil</label>
                            <input type="text" class="form-control" name="Movil" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Correo</label>
                            <input type="email" class="form-control" name="Correo" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Top</label>
                        <select name="top_aux" class="form-control">
                            @foreach (var item in tops)
                            {
                                string strItem = item != -1 ? item.ToString() : "Todos";
                                if (item != topActual)
                                {
                                            <option value="@item">@strItem</option>
                                }
                                else
                                {
                                            <option selected value="@item">@strItem</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <p>
                @*HOLA MUNDO*@
            </p>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-outline-primary" />
                <a asp-action="Create" class="btn btn-outline-primary">Crear</a>
            </div>
        </form>
    </div>
</div>
<table class="table" table-responsive table-striped paginationjs >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                    @Html.ActionLink("Modificar", "Edit", new { id=item.Id }, new {@class = "btn btn-outline-success" }) |
                    @Html.ActionLink("Detalles", "Details", new { id=item.Id }, new {@class = "btn btn-outline-warning" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }, new {@class = "btn btn-outline-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
@if (numPage > 1)
{
    <div class="row" style="overflow:auto">
        <div class="col-md-12">
            <ul class="pagination paginationjs" data-numpage="@numPage" data-pageactive="1">
                <li class="page-item" data-typepage="Previous"><a class="page-link" href="#">Previous</a></li>
                @for (var i = 1; i <= numPage; i++)
                {
                    <li class="page-item" data-page="@i" data-typepage="Item"><a class="page-link" href="#">@i</a></li>
                }
                <li class="page-item" data-typepage="Next"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
}
